/* Reset some default styles */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

header, nav, section, footer {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 2em;
}


.key_attraction{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-evenly;
   
}

.key_attraction div{
    padding: 20px;
}

div img{
    
    height: 300px;
    width: 400px;
    border: #333;
    border-radius: 8px;
    align-content: space-around;

}


nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #3498db;
}

a:hover {
    color: #2980b9;
}

section {
    margin-top: 30px;
}

h2 {
    color: #3498db;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 10px;
}

footer {
    margin-top: 30px;
    text-align: center;
    font-size: 0.8em;
    color: #777;
}

/* Responsive Styles */
@media only screen and (max-width: 600px) {
    nav ul {
        text-align: center;
        margin-top: 10px;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }
}


/* Home Icon Link */
.home-icon {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
    z-index: 1001;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.home-icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home-icon:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
